@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Open-Sans-regular/Open-Sans-regular.eot");
  src: url("/fonts/Open-Sans-regular/Open-Sans-regular.eot?#iefix") format("embedded-opentype"), local("Open Sans"), local("Open-Sans-regular"), url("/fonts/Open-Sans-regular/Open-Sans-regular.woff2") format("woff2"), url("/fonts/Open-Sans-regular/Open-Sans-regular.woff") format("woff"), url("/fonts/Open-Sans-regular/Open-Sans-regular.ttf") format("truetype"), url("/fonts/Open-Sans-regular/Open-Sans-regular.svg#OpenSans") format("svg"); }
@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/Open-Sans-700/Open-Sans-700.eot");
  src: url("/fonts/Open-Sans-700/Open-Sans-700.eot?#iefix") format("embedded-opentype"), local("Open Sans Bold"), local("Open-Sans-700"), url("/fonts/Open-Sans-700/Open-Sans-700.woff2") format("woff2"), url("/fonts/Open-Sans-700/Open-Sans-700.woff") format("woff"), url("/fonts/Open-Sans-700/Open-Sans-700.ttf") format("truetype"), url("/fonts/Open-Sans-700/Open-Sans-700.svg#OpenSans") format("svg"); }
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/Open-Sans-italic/Open-Sans-italic.eot");
  src: url("/fonts/Open-Sans-italic/Open-Sans-italic.eot?#iefix") format("embedded-opentype"), local("Open Sans Italic"), local("Open-Sans-italic"), url("/fonts/Open-Sans-italic/Open-Sans-italic.woff2") format("woff2"), url("/fonts/Open-Sans-italic/Open-Sans-italic.woff") format("woff"), url("/fonts/Open-Sans-italic/Open-Sans-italic.ttf") format("truetype"), url("/fonts/Open-Sans-italic/Open-Sans-italic.svg#OpenSans") format("svg"); }
@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/Open-Sans-700italic/Open-Sans-700italic.eot");
  src: url("/fonts/Open-Sans-700italic/Open-Sans-700italic.eot?#iefix") format("embedded-opentype"), local("Open Sans Bold Italic"), local("Open-Sans-700italic"), url("/fonts/Open-Sans-700italic/Open-Sans-700italic.woff2") format("woff2"), url("/fonts/Open-Sans-700italic/Open-Sans-700italic.woff") format("woff"), url("/fonts/Open-Sans-700italic/Open-Sans-700italic.ttf") format("truetype"), url("/fonts/Open-Sans-700italic/Open-Sans-700italic.svg#OpenSans") format("svg"); }
.col-no-right-padding {
  padding-right: 0; }

.col-no-left-padding {
  padding-left: 0; }

.no-top-margin {
  margin-top: 0; }

.vertically-aligned.table > tbody > tr > td {
  vertical-align: middle; }

.standard-margin-bottom {
  margin-bottom: 15px; }

body {
  color: #444444;
  font-family: 'Open Sans', sans-serif; }

.app-content {
  min-height: 100%;
  position: relative; }

.page-content {
  margin-top: 15px;
  padding-bottom: 75px; }

.pagination {
  margin-top: 0;
  margin-bottom: 15px; }

dd {
  margin-bottom: 15px; }

.close {
  float: none; }

.super-content .jumbotron {
  height: 500px;
  width: 100%;
  background: url("/img/home/jumbotron_bg.jpg") no-repeat center center;
  margin-bottom: 0;
  color: #FFFEF5; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 60px;
  background-color: #444444;
  color: #FFFEF5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .footer a {
    color: #968D6C; }

.navbar {
  border: none;
  border-radius: 0; }
  .navbar .navbar-right {
    margin-right: 0; }
  .navbar.top {
    height: 75px;
    margin-bottom: 0;
    background-color: #444444; }
    .navbar.top .navbar-header {
      height: 100%; }
      .navbar.top .navbar-header .navbar-brand {
        height: 100%;
        padding: 27.5px 15px; }
    .navbar.top .navbar-nav > li > a {
      padding-top: 27.5px;
      padding-bottom: 27.5px; }
      .navbar.top .navbar-nav > li > a:hover, .navbar.top .navbar-nav > li > a:focus, .navbar.top .navbar-nav > li > a.active {
        background-color: #5C584B; }
    .navbar.top a {
      color: #FFFEF5; }
  .navbar.bottom {
    height: 35px;
    min-height: 35px;
    background-color: #5C584B;
    margin-bottom: 0; }
    .navbar.bottom .breadcrumb {
      background: none;
      border-radius: 0;
      padding-left: 0;
      padding-right: 0; }
      .navbar.bottom .breadcrumb a {
        color: #FCF7D1; }
      .navbar.bottom .breadcrumb .active {
        color: #FFFEF5; }

.brands .brand-container {
  padding-top: 15px;
  padding-bottom: 15px; }
.brands .brand {
  transition-property: background-position;
  transition-duration: 0.3s;
  display: block;
  background: right -20px center;
  height: 275px;
  color: white; }
  .brands .brand .overlay {
    transition-property: background;
    transition-duration: 0.3s;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
    height: 100%; }
  .brands .brand:hover {
    transition-property: background-position;
    transition-duration: 0.3s;
    text-decoration: none;
    background-position: right; }
    .brands .brand:hover .overlay {
      transition-property: background;
      transition-duration: 0.3s;
      background: rgba(0, 0, 0, 0.8);
      background-position: right; }

.cards .card-container {
  margin-bottom: 30px; }
.cards .card {
  padding: 15px;
  background-color: #5C584B;
  display: block;
  position: relative;
  color: #FFFEF5; }
  .cards .card img {
    width: 100%; }
  .cards .card .card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 15px;
    text-align: center; }
    .cards .card .card-info .name {
      margin: 0;
      font-size: 1.3em; }
    .cards .card .card-info .price {
      margin: 0;
      margin-top: 7.5px;
      display: none;
      font-style: italic;
      color: #FCF7D1; }
  .cards .card:hover img {
    opacity: 0.5; }
  .cards .card:hover .card-info .price {
    display: block; }

.card-page .card-block-wrapper {
  margin-bottom: 15px; }
.card-page .card-info {
  background-color: #5C584B;
  padding: 15px;
  color: #FFFEF5; }
  .card-page .card-info .splash-picture {
    width: 100%;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.15); }
  .card-page .card-info .name {
    margin: 0; }
  .card-page .card-info .brand {
    margin-top: 0;
    margin-bottom: 15px;
    font-style: italic;
    color: #FCF7D1; }
.card-page .stores-comparator {
  background-color: #5C584B;
  padding: 15px;
  color: #FFFEF5; }
  .card-page .stores-comparator .nav-tabs {
    border: none;
    margin-bottom: 15px; }
    .card-page .stores-comparator .nav-tabs li {
      margin-right: 15px; }
      .card-page .stores-comparator .nav-tabs li a {
        border: none;
        border-radius: 0;
        background-color: #968D6C;
        color: #FFFEF5; }
      .card-page .stores-comparator .nav-tabs li.active a {
        background-color: #FCF7D1;
        color: #444444; }
  .card-page .stores-comparator .table {
    margin-bottom: 0; }
    .card-page .stores-comparator .table th {
      background-color: #968D6C;
      color: #FFFEF5;
      border-bottom: 2px solid #444444; }
    .card-page .stores-comparator .table tr {
      background-color: #FFFEF5;
      color: #444444; }
      .card-page .stores-comparator .table tr:hover {
        background-color: #FCF7D1; }
      .card-page .stores-comparator .table tr a {
        color: inherit; }
      .card-page .stores-comparator .table tr td {
        border-top: 1px solid #968D6C; }
.card-page .pictures-sidebar {
  background-color: #5C584B;
  padding: 15px;
  color: #FFFEF5; }
  .card-page .pictures-sidebar .card-picture {
    max-width: 100%; }
  .card-page .pictures-sidebar figcaption {
    margin-top: 7.5px;
    text-align: center;
    color: #FCF7D1; }

.brand .brand-info-wrapper {
  margin-bottom: 15px; }
.brand .brand-info {
  background-color: #5C584B;
  padding: 15px;
  color: #FFFEF5; }
  .brand .brand-info .name {
    margin: 0;
    margin-bottom: 15px; }
  .brand .brand-info .splash-picture {
    width: 100%;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.15); }

.recent-decks .proportional-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  float: left;
  height: 0;
  overflow: hidden;
  text-align: center; }
  .recent-decks .proportional-container img {
    transition-property: margin-top, margin-left;
    transition-duration: 0.3s;
    width: 150%;
    margin-top: -50%;
    margin-left: -20%;
    transform: rotate(-15deg); }
  .recent-decks .proportional-container:hover img {
    transition-property: margin-top, margin-left;
    transition-duration: 0.3s;
    margin-top: -55%;
    margin-left: -25%; }

.stats .stat-block {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  float: left;
  height: 0;
  text-align: center;
  background-size: cover; }
  .stats .stat-block .content {
    transition-property: background-color;
    transition-duration: 0.3s;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .stats .stat-block .content:hover, .stats .stat-block .content:focus, .stats .stat-block .content:active {
      text-decoration: none; }
    .stats .stat-block .content:hover {
      transition-property: background-color;
      transition-duration: 0.3s;
      background-color: rgba(0, 0, 0, 0.8); }
  .stats .stat-block h3 {
    color: #FFFEF5;
    font-size: 4em; }
  .stats .stat-block p {
    color: #FCF7D1;
    font-size: 1.5em; }

/*# sourceMappingURL=app.css.map */
