.col-no-right-padding
{
	padding-right: 0;
}

.col-no-left-padding
{
	padding-left: 0;
}

.no-top-margin {
	margin-top: 0;
}

.vertically-aligned.table > tbody > tr > td
{
    vertical-align: middle;
}

.standard-margin-bottom {
	margin-bottom: $standard-padding;
}